body {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
  position: relative;
}

.font-base {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.font-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #2d3863;
}

.font-title-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #8178a5;
  font-size: 4rem;
  margin: 0;
}

.font-base-200 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.font-base-300 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: #4f4a61;
  margin: 0;
}

.font-base-400 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  color: #2d3863;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 5px lightblue;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0%;
  width: 90%;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 0%;
  padding: 8px 0 8px 0;
}

nav ul li {
  list-style: none;
  padding: 2px 4px 2px 4px;
  background-color: transparent;
}

#profile img {
  border-radius: 100%;
  border: solid white 3px;
  box-shadow: 0px 2px 5px lightblue;
  height: 30px;
  margin: auto;
}

nav ul li a {
  text-decoration: none;
  color: #2d3863;
}

div[name="breadcrumbs"] {
  padding: 0 1.5rem 0 1.5rem;
}

div[name="breadcrumbs"] a {
  text-decoration: none;
  color: #364ba1;
}

div[name="breadcrumbs"] a:hover {
  text-decoration: none;
  color: #364ba1;
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

code[type="inline"] {
  font-family: 'Courier New', Courier, monospace;
  color: #4e4e4e;
  background-color: #eaeaea;
  display: inline;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
}

.code-block {
  background-color: #edf7ff;
  padding: 6px 20px 6px 20px;
  border-radius: 10px;
}

p {
  font-size: 16px;
  color: #425a6c;
}

.prec {
  color: #0b65a1;
}

.str {
  color: #bf7c09
}

main {
  margin-top: 6rem;
}

#content {
  display: flex;
  width: 100%;
}

#content aside {
  width: 30%;
  max-width: 500px;
  padding: 1.5rem;
}

#article-wrapper {
  margin: 0;
  width: 70%;
}

#article-wrapper article {
  margin: 0;
  width: 75%;
}

footer {
  background-color: #282241;
}

#socials {
  background-color: #1b172b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 8px 0 8px 0;
  width: 100%;
}

#socials a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer div[name="wrapper"] {
  width: 90%;
  padding: 20px 0 20px 0;
}

.content-image {
  width: 500px;
  margin: 8px 0 8px 0;
}

#article-list {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.aside-content-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  cursor: pointer;
  width: 100%;
}

.aside-content-wrapper:hover {
  background-color: #e5e5e5;
}

.aside-content-wrapper div {
  width: 100%;
}

.aside-content-wrapper div h4 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #2d3863;
  margin: 0;
  width: 70%;
  min-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.aside-content-wrapper div p {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #9a9fb2;
  width: 65%;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.thumnail-img {
  height: 80px;
}

#content {
  position: relative;
}

aside {
  background-color: white;
  position: relative;
  z-index: 10;
}

section[name="side-article-mobile"] {
  display: none;
}

#hamburger {
  display: none;
}

#comment-form {
  margin-top: 50px;
  margin: 0;
  width: 75%;
}

@media only screen and (max-width: 1024px) {

  .thumnail-img {
    height: 50px;
    display: none;
  }

  #article-wrapper article {
    margin: 0;
    width: 90%;
  }

  .content-image {
    width: 350px;
  }
}

@media only screen and (max-width: 640px) {
  aside {
    display: none;
  }

  #article-wrapper {
    margin: 0;
    width: 100%;
    padding: 0 20px 0 20px;
  }

  #article-wrapper article {
    margin: 0;
    width: 100%;
  }

  section[name="side-article-mobile"] {
    display: block;
    padding: 0 20px 0 20px;
  }

  header nav ul {
    display: none;
  }

  #hamburger {
    display: block;
  }

  #comment-form {
    width: 100%;
  }

}